block variables

doctype html
html(class=isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        base(href="/")

        title Duy Nguyen — Creative Developer

        meta(name="description" content="Duy Nguyen is a Creative Developer based in Ho Chi Minh, Viet Nam with focus on JavaScript, WebGL and GLSL")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        //- link(rel="manifest" href="/site.webmanifest")
        link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#151c13")
        meta(name="msapplication-TileColor" content="#151c13")
        meta(name="theme-color" content="#151c13")

        //- meta(property="og:url" content="https://bizar.ro/")
        //- meta(property="og:title" content="Duy Nguyen — Creative Developer")
        //- meta(property="og:image" content="https://bizar.ro/share.jpg")
        //- meta(property="og:description" content="Duy Nguyen is a Creative Developer based in Ho Chi Minh, Viet Nam with focus on WebGL, GLSL and JavaScript.")

        //- meta(name="twitter:card" content="summary_large_image")
        //- meta(name="twitter:site" content="@Duynguyen")
        //- meta(name="twitter:title" content="Duy Nguyen — Creative Developer")
        //- meta(name="twitter:description" content="Duy Nguyen is a Creative Developer based in Ho Chi Minh, Viet Nam with focus on WebGL, GLSL and JavaScript.")

        meta(property="og:type" content="website")
        meta(property="og:title" content=meta.data.title)
        meta(property="og:description" content=meta.data.description)
        meta(property="og:image" content=meta.data.image ? meta.data.image.url : '')

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content=meta.data.title)
        meta(name="twitter:description" content=meta.data.description)
        meta(name="twitter:image" content=meta.data.image ? meta.data.image.url : '')
        link(href="main.css" rel="stylesheet")

    body
        include ./partials/preloader
        include ./partials/navigation

        .content#content(data-template=template)
            block content

        script.
            window.ASSETS = !{JSON.stringify(assets).replace(/<\//g, "<\\/")}

        script(src="main.js")