extends ../base.pug

block variables
  - var template = 'about'

block content
  .about(data-background="#9dad7f" data-color="#F9F1E7")
    .about__wrapper
      section.about__gallery
        .about__gallery__wrapper
          each media in about.data.gallery
            figure.about__gallery__media
              img.about__gallery__media__image(alt=media.image.alt data-src=media.image.url)

      each section in about.data.body
        if section.slice_type == 'title'
          h2.about__title(data-animation="title")!=section.primary.text.replace(/\n/g, '<br>')

        if section.slice_type == 'content'
          section.about__content(class=`${section.primary.type === 'Left' ? 'about__content--left' : 'about__content--right'}`)
            .about__content__wrapper
              .about__content__box
                p.about__content__label(data-animation="label")!=section.primary.label

                .about__content__description!=PrismicDOM.RichText.asHtml(section.primary.description).replace(/<p>/g, '<p data-animation="paragraph">')

              figure.about__content__media
                img.about__content__media__image(alt=section.primary.image.alt data-src=section.primary.image.url)

        if section.slice_type == 'hightlight'
          section.about__highlight
            .about__highlight__wrapper
              if section.primary.label
                p.about__highlight__label(data-animation="label")=section.primary.label

              h3.about__highlight__title(data-animation="highlight")=section.primary.title_highlight

              .about__highlight__medias
                each media in section.items
                  figure.about__highlight__media
                    img.about__highlight__media__image(alt=media.image.alt data-src=media.image.url)

        if section.slice_type == 'gallery'
          section.about__gallery
            .about__gallery__wrapper
              each media in section.items
                figure.about__gallery__media
                  img.about__gallery__media__image(alt=media.image.alt data-src=media.image.url)
